
<h1>Welcome to the Cheosk</h1>
<p><%= @message %></p>
<!-- TODO put link here -->
  	<!-- <button type="button" class="btn btn-primary"><a href="/items">Cheesey</a></button> -->



<%= link_to "Goodbye", "/greetings/goodbye" %>