
<h1>Welcome to the Cheosk</h1>
<p><%= @message %></p>
<!-- TODO put link here DONE!!-->
  	<!-- <button type="button" class="btn btn-primary">Cheesey</button> -->




<%= link_to "Goodbye", "/greetings/goodbye" %>
<br>
<!-- <div class="btn btn-primary"> -->
  <%= link_to 'Edit', "/greetings/goodbye", :class => "btn btn-primary" %>
<!-- </div> -->